* {
    margin: 0;
    padding: 0;
}

.formularioContacto {
    display: flex;
}

.formulario1, .formulario2 {
    background-color: aqua;
}

.formulario1, .formulario2, .tituloForm, .total {
    width: 600px;
    
}

.tituloForm {
    text-align: center;
}


.divMeteo {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: start;
}